registry=https://packages.aliyun.com/5eb3e37038076f00011bcd4a/npm/npm-registry/
@gupo-admin:registry=https://packages.aliyun.com/5eb3e37038076f00011bcd4a/npm/npm-registry/
//packages.aliyun.com/5eb3e37038076f00011bcd4a/npm/npm-registry/:_authToken=a5a847a3-88c3-4861-9db1-bcd9de210101

always-auth=true
shamefully-hoist=true
# ignore-workspace-root-check=true
# strict-peer-dependencies=false
# auto-install-peers=false